@font-face {
    font-family: logo;
    src: url('./fonts/AnekBangla-Bold.ttf');
}

.my-navbar{
    font-family: 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100vw;
    background: transparent;
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 55px;
}

.navitem{
    float: left;
    display: block;
    color: #1E2019 !important;
    text-align: center;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

.navitem-padding {
    padding: 20px 20px;
}

.try-btn {
    background: #F4743B;
    border-radius: 25px;
    padding: 4px 20px;
    height: fit-content;
    color: white !important;
}

.logo {
    /* font-family: logo !important; */
    color: #1E2019 !important;
    font-weight: 1000;
    font-size: 26px;
}

iframe {
    visibility: hidden;
    height: 0rem;
}

header {
    visibility: hidden;
}

/* section:nth-of-type(1) {
    visibility: hidden;
    width: 0rem !important;
    height: 0rem !important;
    position: absolute !important;
} */

.st-emotion-cache-zq5wmm {
    visibility: hidden;
}